@model IEnumerable<Footables.Models.StatEquipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.but)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domicile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.possession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hors_jeu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.corner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipe.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match.lieu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.but)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.domicile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.possession)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hors_jeu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.corner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipe.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match.lieu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
